@font-face {
    font-family: 'Aileron';
    src: url('../fonts/Aileron-Light.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron-B';
    src: url('../fonts/Aileron-Black.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WorkSans';
    src: url('../fonts/WorkSans-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
  	min-height: 1000px;
  	padding-top: 20px;
	text-align: center;
	color: #333132;
	font-family: 'Aileron';
	font-size: 14px;
	letter-spacing: 1px;
    background-color: #eee;
}

.container {
    padding-right: 0px;
    padding-left: 0px;
    height: 35px;
}

.navbar-nav {
    margin: 0px;
}

.nav>li {
    margin-left: 0px;
    float: right;
}

.navbar-default {
    background-color: #3c3c3c;
    min-height: 35px;
    border: none;
}

.navbar-nav>li>a {
    padding-top: 3px;
    padding-bottom: 3px;
}

.navbar-brand {
    padding: 3px 15px 3px 15px;
    height: 35px;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
}

a:hover {
    color: #002432;
    text-decoration: none;
}

#j_section_1 {
    background-image: url(../gfx/j_section-1.jpg);
    background-position: center;
    height: 453px;
    width: initial;
}

#j_section_2 {
    height: auto;
    margin-top: -198px;
}

#main-content {
    background-color: #fff;
}

#j_left_part {
    background-color: #fff;
    width: auto;
    padding: 21px 21px 21px 15px;
}

#j-img-l {
    display: none;
    float: left;
    margin: 0px 60px 50px 0px;
}

#j-links {
    float: right;
}

#j-sub-pages {
    font-family: 'WorkSans';
    width: 215px;
    display: -webkit-box;
    padding-top: 50px;
    font-size: 16px;
}

.sub-bar {
    display: none;
    float: left;
    margin: 0px 20px 50px 6px;
}

#j-sub-pages>a {
    color: #000;
}

#j-sub-pages>a:hover {
    color: #000;
    text-decoration: none;
}

#j-leftsub {
    font-size: 14px;
    margin: 10px 35px 0px 0px;
}

#j-leftsub-r {
    font-size: 14px;
    margin: 10px 0 0 0;
}

.main-links {
    margin: 0 0 0 12px;
}

#j_right_part {
    display: none;
    margin-bottom: 120px;
    margin-top: 10px;
    margin-left: -355px;
    background-color: #f8f8f8;
    float: left;
    width: 270px;
    padding: 20px 20px 20px 20px;
}

#d_right_part {
    background-color: #fff;
    display: -webkit-box;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
    float: none;
    width: auto;
    padding: 20px 20px 20px 20px;
}

hr {
    max-width: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#j-l-p {
    float: left;
}

.j-left-p {
    text-align: left;
}

#j-r-p {
    float: right;
}

.j-right-p {
    text-align: left;
    font-family: 'WorkSans';
}

#j-icons {
    display: none;
    margin-top: 10px;
    float: right;
    margin-right: 26px;
}

#j-icons-img {
    margin: 10px 10px 10px 0;
}

#j-img-s {
    display: none;
    padding: 10px;
    float: left;
}

#j_section_3 {
    height: auto;
    margin-top: -60px;
    margin-bottom: 47px;
}

.j-list {
    background-color: #fff;
    margin: 80px 0px -60px 0px;
    height: 154px;
    width: auto;
    padding: 15px 0px 0px 15px;
}

.j-job-title {
    margin-top: 6px;
    font-family: 'Aileron-B';
    font-size: 20px;
}

.j-list>a {
    color: #000;
}

.j-list>a:hover {
    color: #000;
    text-decoration: none;
}

#j-p-part {
    display: -webkit-box;
    float: left;
}

.j-p-details {
    font-size: 16px;
    margin-right: 25px;
    margin-top: 5px;
    display: -webkit-inline-box;
}

#footer {
    font-size: 14px;
    background-color: #fff;
    height: 230px;
    padding-top: 35px;
    line-height: 1.5em;
    width: initial;
}

#footer a {
    color: #777;
    height: 220px;
}

#footer img {
    padding-left: 18px;
    padding-bottom: 30px;
}

#fotter_options {
    font-size: 10px;
    text-align: center;
    margin-bottom: 35px;
}

#footer_cr {
    font-size: 10px;
    padding-left: 30px;
}

#a-details-content {
    padding: 20px 10px 10px 0px;
    font-size: 18px;
    float: left;
    text-align: left;
}

#a_section_2 {
    background-color: #fff;
    height: auto;
    margin-top: -198px;
}

.a-title-details {
    font-family: 'Aileron-B';
}

.a-sub-details {
    font-family: 'Aileron';
}

.btn-group-lg>.btn, .btn-lg {
    border-radius: 6px;
    display: block;
    margin: auto;
    width: 230px;
}

.btn-primary {
    border: none;
    margin-bottom: 20px;
    background-color: #0076a3;
}

.btn-primary:hover {
    border: none;
    background-color: #0076a3;
}

#d_section_3 {
    height: auto;
    margin-bottom: 45px;
}

#d-h1 {
    margin-bottom: -60px;
    text-align: center;
}

#j_section_4 {
    height: auto;
}

@media (min-width: 768px){

    .navbar-default .navbar-nav>li>a {
        padding-top: 3px;
    }

    .nav>li {
        margin-left: 525px;
    }
    .nav>li>a {
        padding: 0px;
    }

    #j_section_2 {
        height: auto;
        margin-top: -198px;
    }

    #j_left_part {
        height: 192px;
        width: auto;
        padding: 21px 21px 21px 15px;
    }

    #j-img-l {
        display: -webkit-box;
        float: left;
        margin: 0px 60px 50px 0px;
    }

    #j-links {
        float: right;
    }

    #j-sub-pages {
        width: 215px;
        display: -webkit-box;
        padding-top: 80px;
        font-size: 17px;
    }

    .sub-bar {
        display: -webkit-box;
        float: left;
        margin: 0px 35px 50px 0px;
    }

    #j-leftsub {
        font-size: 18px;
        margin: 10px 35px 0px 0px;
    }

    #j-leftsub-r {
        font-size: 18px;
        margin: 10px 0 0 0;
    }

    .main-links {
        margin: 0 0 0 12px;
    }

    #j_right_part {
        display: none;
    }

    #d_right_part {
        background-color: #fff;
        display: -webkit-box;
        margin-bottom: 0px;
        margin-top: 0px;
        margin-left: 0px;
        float: none;
        width: auto;
        padding: 20px 20px 20px 20px;
    }

    hr {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #j-l-p {
        float: left;
    }

    .j-left-p {
        text-align: left;
    }

    #j-r-p {
        float: right;
    }

    .j-right-p {
        text-align: left;
    }

    #j-icons {
        display: none;
        margin-top: 10px;
        float: right;
        margin-right: 26px;
    }

    #j-icons-img {
        margin: 10px 10px 10px 0;
    }

    #j-img-s {
        display: -webkit-box;
        padding: 10px;
        float: left;
    }

    #j_section_3 {
        height: auto;
        margin-top: -79px;
        margin-bottom: 47px;
    }

    .j-list {
        margin: 80px 0px -60px 0px;
        height: 154px;
        width: auto;
        padding: 15px 0px 0px 15px;
    }

    .j-job-title {
        float: left;
        margin-top: 8px;
        font-size: 20px;
    }

    #j-p-part {
        display: -webkit-box;
        float: left;
    }

    .j-p-details {
        font-size: 17px;
        margin-right: 17px;
        margin-top: 5px;
        display: -webkit-inline-box;
    }

    #footer {
        margin-top: 0px;
    }

    #a-details-content {
        padding: 20px 10px 10px 0px;
        font-size: 18px;
        float: left;
        text-align: left;
    }

    #a_section_2 {

        margin-top: -198px;
    }

    .btn-group-lg>.btn, .btn-lg {
        border-radius: 6px;
        display: block;
        margin: auto;
        width: 350px;
    }

    .btn-primary {
        border: none;
        margin-bottom: 20px;
    }

    #d_section_3 {
        height: auto;
        margin-bottom: 45px;
    }

    #d-h1 {
        margin-bottom: -60px;
        text-align: left;
    }

}

@media (min-width: 992px){

    .navbar-default .navbar-nav>li>a {
        padding-top: 3px;
    }

    .nav>li {
        margin-left: 745px;
    }
    .nav>li>a {
        padding: 0px;
    }

    #j_section_2 {
        height: auto;
        margin-top: -198px;
    }

    #j_left_part {
        height: 192px;
        width: auto;
        padding: 21px 21px 21px 15px;
    }

    #j-img-l {
        display: -webkit-box;
        float: left;
        margin: 0px 60px 50px 0px;
    }

    #j-links {
        float: right;
    }

    #j-sub-pages {
        width: 215px;
        display: -webkit-box;
        padding-top: 100px;
        font-size: 18px;
    }

    .sub-bar {
        display: -webkit-box;
        float: left;
        margin: 0px 41px 50px 2px;
    }

    #j-leftsub {
        margin: 10px 35px 0px 0px;
    }

    #j-leftsub-r {
        margin: 10px 0 0 0;
    }

    .main-links {
        margin: 0 0 0 12px;
    }

    #j_right_part {
        display: none;
    }

    #d_right_part {
        background-color: #fff;
        display: -webkit-box;
        margin-bottom: 0px;
        margin-top: 0px;
        margin-left: 0px;
        float: none;
        width: auto;
        padding: 20px 20px 20px 20px;
    }

    hr {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #j-l-p {
        float: left;
    }

    .j-left-p {
        text-align: left;
    }

    #j-r-p {
        float: right;
    }

    .j-right-p {
        text-align: left;
    }

    #j-icons {
        display: none;
        margin-top: 10px;
        float: right;
        margin-right: 26px;
    }

    #j-icons-img {
        margin: 10px 10px 10px 0;
    }

    #j-img-s {
        display: -webkit-box;
        padding: 10px;
        float: left;
    }

    #j_section_3 {
        height: auto;
        margin-top: -79px;
        margin-bottom: 47px;
    }

    .j-list {
        margin: 80px 0px -60px 0px;
        height: 154px;
        width: auto;
        padding: 15px 0px 0px 15px;
    }

    .j-job-title {
        float: left;
        margin-top: 8px;
        font-size: 20px;
    }

    #j-p-part {
        display: -webkit-box;
        float: left;
    }

    .j-p-details {
        font-size: 18px;
        margin-right: 17px;
        margin-top: 5px;
        display: -webkit-inline-box;
    }

    #a-details-content {
        padding: 20px 10px 10px 0px;
        font-size: 18px;
        float: left;
        text-align: left;
    }

    #a_section_2 {
        background-color: #fff;
        height: auto;
        margin-top: -198px;
    }

    #d_section_3 {
        height: auto;
        margin-bottom: 45px;
    }

    #d-h1 {
        margin-bottom: -60px;
        text-align: left;
    }

}

@media (min-width: 1200px){

    .container {
        height: auto;
    }

    .nav>li {
        margin-left: 945px;
    }

    #j_section_2 {
        height: auto;
        margin-top: -198px;
        margin-bottom: 46px;
    }

    #j_left_part {
        height: 250px;
        width: 880px;
        padding: 21px 21px 21px 15px;
    }

    #j-img-l {
        display: -webkit-box;
        float: left;
        margin: 0px 60px 50px 0px;
    }

    #j-links {
        float: right;
    }

    #j-sub-pages {
        width: 215px;
        display: -webkit-box;
        padding-top: 100px;
        font-size: 18px;
    }

    .sub-bar {
        display: -webkit-box;
        float: left;
        margin: 0px 41px 50px 2px;
    }

    #j-leftsub {
        margin: 10px 35px 0px 0px;
    }

    #j-leftsub-r {
        margin: 10px 0 0 0;
    }

    .main-links {
        margin: 0 0 0 12px;
    }

    #j_right_part {
        display: -webkit-box;
        margin-bottom: 0px;
        margin-top: -250px;
        margin-left: 0px;
        float: right;
        padding: 20px 20px 20px 20px;
    }

    #d_right_part {
        background-color: #fff;
        display: -webkit-box;
        margin-bottom: 0px;
        margin-top: 0px;
        margin-left: 0px;
        float: none;
        width: auto;
        padding: 20px 20px 20px 20px;
    }

    hr {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #j-l-p {
        float: left;
        margin-right: 20px;
    }

    .j-left-p {
        text-align: left;
    }

    #j-r-p {
        float: right;
    }

    .j-right-p {
        text-align: left;
    }

    #j-icons {
        float: right;
        display: -webkit-box;
    }

    #j-icons-img {
        margin: 10px 10px 10px 0;
    }

    #j-img-s {
        display: -webkit-box;
        padding: 10px;
        float: left;
    }

    #j_section_3 {
        height: auto;
        margin-top: -176px;
        margin-bottom: 47px;
    }

    .j-list {
        margin: 80px 0px -60px 0px;
        height: 154px;
        width: 880px;
        padding: 15px 0px 0px 15px;
    }

    .j-job-title {
        float: left;
        margin-top: 8px;
        font-size: 20px;
    }

    #j-p-part {
        margin-left: -237px;
        display: -webkit-box;
        float: left;
    }

    .j-p-details {
        font-size: 19px;
        margin-right: 20px;
        margin-top: 70px;
        display: -webkit-inline-box;
    }

    #j_section_4 {
        height: auto;
    }

    #a-details-content {
        padding: 0 10px 10px 0px;
        font-size: 18px;
        float: left;
        text-align: left;
    }

    #a_section_2 {
        background-color: #fff;
        height: auto;
        margin-top: -198px;
    }

    .a-sub-details {
        margin-bottom: 30px;
    }

    .btn-group-lg>.btn, .btn-lg {
        border-radius: 6px;
        display: block;
        margin: auto;
        width: 350px;
    }

    .btn-primary {
        border: none;
        margin-bottom: 20px;
    }

    #d_section_3 {
        height: auto;
        margin-bottom: 45px;
    }

    #d-h1 {
        margin-bottom: -60px;
        text-align: left;
    }

    #search-box {
        margin-top: 189px;
    }

    input[type=text] {
        opacity: 0.7;
        width: 1170px;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 12px 20px 12px 12px;
    }

    #searchicon {
        transform: rotate(90deg);
        float: right;
        margin-top: -34px;
        margin-right: 12px;
    }

}
