@font-face {
    font-family: 'Aileron';
    src: url('../fonts/Aileron-Light.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron-B';
    src: url('../fonts/Aileron-Black.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WorkSans';
    src: url('../fonts/WorkSans-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
  	min-height: 1000px;
  	padding-top: 20px;
	text-align: center;
	color: #333132;
	font-family: 'Aileron';
	font-size: 14px;
	letter-spacing: 1px;
    background-color: #eee;
}

.container {
    padding-right: 0px;
    padding-left: 0px;
    height: 35px;
}

.navbar-nav {
    margin: 0px;
    background-color: #3c3c3c;
}

.nav>li {
    margin-left: 0px;
    float: right;
}

.navbar-default {
    background-color: transparent;
    min-height: 35px;
    border: none;
}

.navbar-nav>li>a {
    padding-top: 3px;
    padding-bottom: 3px;
}

.navbar-brand {
    padding: 3px 15px 3px 15px;
    height: 35px;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    margin-right: 68px;
}

.navbar-default .navbar-nav>li>a:hover {
    text-decoration: none;
    color: #fff;
}

.navbar-default .navbar-toggle {
  border: none;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #000;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
    margin-top: -60px;
    margin-right: -10px;
    margin-left: -10px;
}

.navbar-toggle {
    float: left;
    margin-left: 15px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.navbar-toggle .icon-bar {
    width: 30px;
    height: 6px;
}

.navbar-header {
  background-color: transparent;
}

a:hover {
    color: #002432;
    text-decoration: none;
}

a:focus {
    color: #002432;
    text-decoration: none;
}

.small-icon {
    display: none;
}

.big-icon {
    margin-left: -236px;
}

.menu-position {
    display: block;
    color: #000;
    background-color: #fff;
    width: 100%;
    text-align: left;
    padding: 5px 8px 5px;
    font-family: 'Aileron-B';
}

.menu-position-g {
    display: block;
    color: #000;
    background-color: #f8f8f8;
    width: 100%;
    text-align: left;
    padding: 5px 8px 5px;
    font-family: 'Aileron-B';
}

#j_section_1 {
    background-image: url(../gfx/j_section-1.jpg);
    background-position: center;
    height: 453px;
    width: initial;
    margin-top: -20px;
}

#j_section_2 {
    height: auto;
    margin-top: -198px;
}

#main-content {
    background-color: #fff;
}

#d_left_part {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 285px;
    background-color: #fff;
    width: auto;
    padding: 21px 21px 21px 15px;
}

#j_left_part {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: -49px;
    background-color: #fff;
    width: auto;
    padding: 21px 21px 21px 15px;
}

#j-img-l {
    display: none;
    float: left;
    margin: 0px 60px 50px 0px;
}

#j-links {
    display: none;
    float: right;
}

#j-sub-pages {
    font-family: 'WorkSans';
    display: block;
    font-size: 17px;
    margin-left: 70px;
    text-align: center;
}

.sub-bar {
    display: none;
    float: left;
    margin: 0px 20px 50px 6px;
}

.a-sub-bar {
    margin: -162px 0px 0px 0px;
}

.sub-bar-r {
    margin: -93px 0px 0px -8px;
}

.a-sub-bar-r {
    display: none;
    margin: -93px 0px 0px -8px;
}

.sub-bar-l {
    display: none;
    float: left;
    margin: 0px 20px 50px 6px;
}

#j-sub-pages>a {
    color: #000;
}

#j-sub-pages>a:hover {
    color: #000;
    text-decoration: none;
}

#j-leftsub {
    font-size: 17px;
    margin: 10px 0px 0px -68px;
}

#j-leftsub-r {
    font-size: 17px;
    margin: 10px 0 0 -78px;
}

#j-leftsub-l {
    margin: 10px 0 0 -79px;
}

.main-links {
    margin: 0 0 0 12px;
}

#j_right_part {
    display: none;
    margin-bottom: 17px;
    margin-top: -527px;
    background-color: #f8f8f8;
    float: left;
    width: 384px;
    padding: 20px 20px 20px 20px;
}

#d_right_part {
    margin: -527px 5px 17px;
    background-color: #f8f8f8;
    padding: 20px 20px 20px 20px;
    height: 290px;
}

#a_right_part {
    display: none;
    margin: -527px 5px 17px;
    background-color: #f8f8f8;
    padding: 20px 20px 20px 20px;
    height: 290px;
}

hr {
    border-top: 1px solid #e4e4e4;
    margin-top: 10px;
    margin-bottom: 10px;
}

#j-l-p {
    float: left;
}

.j-left-p {
    text-align: left;
    margin-right: 30px;
}

.j-right-p {
    text-align: left;
    font-family: 'WorkSans';
}

#j-icons {
    display: none;
}

#j-icons-img {
    margin: 10px 10px 10px 0;
}

#j-img-s {
    display: none;
    padding: 10px;
    float: left;
}

#j_section_3 {
    height: auto;
    margin-top: -60px;
    margin-bottom: 67px;
}

#l_section_3 {
    height: auto;
    margin-top: -60px;
    margin-bottom: 67px;
}

.j-list {
    background-color: #fff;
    margin: 80px 0px -60px 0px;
    height: 154px;
    width: auto;
    padding: 15px 0px 0px 15px;
}

.j-job-title {
    margin-top: 6px;
    font-family: 'Aileron-B';
    font-size: 20px;
}

.j-list>a {
    color: #000;
}

.j-list> {
    color: #000;
    text-decoration: none;
}

#j-p-part {
    display: -webkit-box;
    float: left;
}

.j-p-details {
    font-size: 16px;
    margin-right: 25px;
    margin-top: 5px;
    display: -webkit-inline-box;
}

#footer {
    font-size: 14px;
    background-color: #fff;
    height: 230px;
    padding-top: 35px;
    line-height: 1.5em;
    width: initial;
}

#footer a {
    color: #777;
    height: 220px;
}

#footer img {
    padding-left: 18px;
    padding-bottom: 30px;
}

#fotter_options {
    font-size: 10px;
    text-align: center;
    margin-bottom: 35px;
}

#footer_cr {
    font-size: 10px;
    padding-left: 30px;
}

#a-details-content {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 25px;
    background-color: #fff;
    padding: 20px 10px 10px 15px;
    font-size: 18px;
    float: left;
    text-align: left;
}

#d-details-content {
    background-color: #fff;
    padding: 20px 10px 10px 15px;
    font-size: 18px;
    float: left;
    text-align: left;
    margin-top: 180px;
}

#a_section_2 {
    background-color: #fff;
    height: auto;
    margin-top: -198px;
}

.a-title-details {
    margin-top: 39px;
    font-family: 'Aileron-B';
}

.d-title-details {
    margin-top: -47px;
    font-family: 'Aileron-B';
}

.t-title-details {
    margin-top: 15px;
    font-family: 'Aileron-B';
}

.a-sub-details {
    font-family: 'Aileron';
}

.btn-group-lg>.btn, .btn-lg {
    border-radius: 6px;
    display: block;
    margin: auto;
    width: 230px;
}

.btn-primary {
    border: none;
    margin-bottom: 20px;
    background-color: #0076a3;
}

.btn-primary:hover {
    border: none;
    background-color: #0076a3;
}

#d_section_3 {
    height: auto;
    margin-top: -50px;
    margin-bottom: 65px;
}

#d-h1 {
    margin-bottom: -60px;
    text-align: center;
}

#j_section_4 {
    height: auto;
}

#search-box {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 140px;
}

input[type=text] {
    opacity: 0.7;
    width: 100%;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 12px;
}

#searchicon {
    float: right;
    margin-top: -34px;
    margin-right: 12px;
}

#d-icons {
    display: none;
}

#d-h1t {
    margin-bottom: 100px;
}

@media (min-width: 768px){

    .navbar-default {
        background-color: #3c3c3c;
    }

    .navbar-default .navbar-nav>li>a {
        padding-top: 3px;
        margin-left: -800px;
        margin-right: 430px;
    }

    #menu-position-1 {
        display: block;
        text-align: left;
        padding: 5px 8px 5px;
        width: auto;
        margin-right: 370px;
        margin-top: -33px;
        margin-left: 911px;
        font-family: 'Aileron';
    }

    #menu-position-2 {
        display: block;
        text-align: left;
        padding: 5px 8px 5px;
        width: auto;
        font-family: 'Aileron';
        margin-top: -33px;
        margin-right: 195px;
    }

    #menu-position-3 {
        display: block;
        text-align: left;
        padding: 5px 8px 5px;
        width: auto;
        font-family: 'Aileron';
        margin-top: -33px;
        margin-right: 14px;
    }

    #menu-position-4 {
        display: block;
        text-align: left;
        padding: 5px 8px 5px;
        width: auto;
        font-family: 'Aileron';
        margin-top: -33px;
        margin-right: -157px;
    }

    #welcome-position {
        margin-top: 0px;
        margin-right: -525px;
    }

    #icon-menu {
        margin-top: -1px;
    }

    .nav>li {
        margin-left: 525px;
    }
    .nav>li>a {
        padding: 0px;
    }

    .small-icon {
        display: -webkit-box;
    }

    .big-icon {
        display: none;
    }

    #j_section_2 {
        height: auto;
        margin-top: -190px;
    }

    #d_left_part {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 337px;
        height: 192px;
        width: auto;
        padding: 21px 21px 21px 15px;
    }

    #j_left_part {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: -8px;
        height: 192px;
        width: auto;
        padding: 21px 21px 21px 15px;
    }

    #j-img-l {
        display: -webkit-box;
        float: left;
        margin: 0px 60px 50px 0px;
    }

    #j-links {
        float: right;
    }

    #j-sub-pages {
        width: 500px;
        display: -webkit-box;
        padding-top: 80px;
        font-size: 17px;
    }

    .sub-bar {
        display: -webkit-box;
        float: left;
        margin: -85px 0px 0px 178px;
    }

    .a-sub-bar {
        display: -webkit-box;
        float: left;
        margin: -85px 0px 0px 178px;
    }

    .sub-bar-r {
        display: -webkit-box;
        float: left;
        margin: -45px 0px 0px 126px;
    }

    .a-sub-bar-r {
        display: -webkit-box;
        float: left;
        margin: -45px 0px 0px 126px;
    }

    .sub-bar-l {
        display: -webkit-box;
        float: left;
        margin: -3px 0px 0px 144px;
    }

    #j-leftsub {
        font-size: 17px;
        margin: -72px 0px 0px 178px;
    }

    #j-leftsub-r {
        font-size: 17px;
        margin: -31px 0 0px -158px;
    }

    #j-leftsub-l {
        margin: 10px 0 0 -199px;
    }

    .main-links {
        margin: 0 0 0 12px;
    }

    #j_right_part {
        display: none;
    }

    #d_right_part {
        margin: -527px 0px 0px;
        display: -webkit-box;
        float: none;
        width: auto;
        padding: 20px 20px 20px 20px;
    }

    #a_right_part {
        display: none;
        margin: -527px 0px 0px;
        float: none;
        width: auto;
        padding: 20px 20px 20px 20px;
    }

    .d-title-details {
        margin-top: -25px;
        font-family: 'Aileron-B';
    }

    hr {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #j-l-p {
        width: 150px;
        float: left;
    }

    .j-left-p {
        text-align: left;
    }

    #j-r-p {
        float: right;
    }

    .j-right-p {
        text-align: left;
    }

    #j-icons {
        display: none;
    }

    #j-icons-img {
        margin: 10px 10px 10px 0;
    }

    #j-img-s {
        display: -webkit-box;
        padding: 10px;
        float: left;
    }

    #j_section_3 {
        height: auto;
        margin-top: -79px;
        margin-bottom: 47px;
    }

    #l_section_3 {
        height: auto;
        margin-top: -79px;
        margin-bottom: 47px;
    }

    .j-list {
        margin: 80px 0px -60px 0px;
        height: 154px;
        width: auto;
        padding: 15px 0px 0px 15px;
    }

    .j-job-title {
        float: left;
        margin-top: 8px;
        font-size: 20px;
    }

    #j-p-part {
        display: -webkit-box;
        float: left;
    }

    .j-p-details {
        font-size: 17px;
        margin-right: 17px;
        margin-top: 5px;
        display: -webkit-inline-box;
    }

    #footer {
        margin-top: 0px;
    }

    #a-details-content {
        margin-left: 0px;
        margin-right: 0px;
        padding: 0px 10px 10px 15px;
        margin-top: -29px;
        font-size: 18px;
        float: left;
        text-align: left;
    }

    #d-details-content {
        padding: 51px 10px 10px 15px;
        margin-top: -29px;
        font-size: 18px;
        float: left;
        text-align: left;
    }

    #a_section_2 {

        margin-top: -198px;
    }

    .btn-group-lg>.btn, .btn-lg {
        border-radius: 6px;
        display: block;
        margin: auto;
        width: 350px;
    }

    .btn-primary {
        border: none;
        margin-bottom: 20px;
    }

    #d_section_3 {
        margin-top: -20px;
        height: auto;
        margin-bottom: 45px;
    }

    #d-h1 {
        margin-bottom: -60px;
        text-align: left;
    }

    #search-box {
        margin-left: auto;
        margin-right: auto;
        margin-top: 189px;
    }

    input[type=text] {
        opacity: 0.7;
        width: 750px;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 12px 20px 12px 12px;
    }

    #searchicon {
        display: -webkit-box;
        float: right;
        margin-top: -34px;
        margin-right: 12px;
    }

    #d-h1t {
        display: inline-block;
        margin-top: 99px;
        margin-left: -255px;
        margin-right: 0px;
    }
}

@media (min-width: 992px){

    .navbar-default .navbar-nav>li>a {
        padding-top: 3px;
        margin-left: -800px;
        margin-right: 430px;
    }

    #menu-position-1 {
        display: block;
        text-align: left;
        padding: 5px 8px 5px;
        width: auto;
        margin-right: 370px;
        margin-top: -33px;
        margin-left: 911px;
        font-family: 'Aileron';
    }

    #menu-position-2 {
        display: block;
        text-align: left;
        padding: 5px 8px 5px;
        width: auto;
        font-family: 'Aileron';
        margin-top: -33px;
        margin-right: 195px;
    }

    #menu-position-3 {
        display: block;
        text-align: left;
        padding: 5px 8px 5px;
        width: auto;
        font-family: 'Aileron';
        margin-top: -33px;
        margin-right: 14px;
    }

    #menu-position-4 {
        display: block;
        text-align: left;
        padding: 5px 8px 5px;
        width: auto;
        font-family: 'Aileron';
        margin-top: -33px;
        margin-right: -176px;
    }

    #welcome-position {
        margin-top: -29px;
        margin-right: -525px;
    }

    #icon-menu {
        margin-top: -30px;
    }

    .nav>li {
        margin-left: 745px;
    }
    .nav>li>a {
        padding: 0px;
    }

    #j_section_2 {
        height: auto;
        margin-top: -198px;
    }

    #d_left_part {
        height: 192px;
        width: auto;
        padding: 21px 21px 21px 15px;
    }

    #j_left_part {
        height: 192px;
        width: auto;
        margin-top: 0px;
        padding: 21px 21px 21px 15px;
    }

    #j-img-l {
        display: -webkit-box;
        float: left;
        margin: 0px 60px 50px 0px;
    }

    #j-links {
        display: -webkit-box;
        float: right;
    }

    #j-sub-pages {
        width: 215px;
        display: -webkit-box;
        padding-top: 100px;
        font-size: 17px;
    }

    .sub-bar {
        display: -webkit-box;
        float: left;
        margin: 0px 41px 50px 2px;
    }

    .a-sub-bar {
        display: -webkit-box;
        float: left;
        margin: 0px 41px 50px 2px;
    }

    .sub-bar-r {
        display: -webkit-box;
        float: left;
        margin: 0px 41px 50px 2px;
    }

    .a-sub-bar-r {
        display: -webkit-box;
        float: left;
        margin: 0px 41px 50px 2px;
    }

    .sub-bar-l {
        display: -webkit-box;
        float: left;
        margin: 0px 41px 50px 2px;
    }

    #j-leftsub {
        font-size: 17px;
        margin: 10px 45px 0px 0px;
    }

    #j-leftsub-r {
        font-size: 17px;
        margin: 10px 0 0 0;
    }

    #j-leftsub-l {
        font-size: 17px;
        width: 261px;
        margin: 9px 0 0 2px;
    }

    .main-links {
        margin: 0 0 0 12px;
    }

    #j_right_part {
        display: none;
    }

    #d_right_part {
        margin: -527px 0px 0px;
    }

    #a_right_part {
        margin: -527px 0px 0px;
    }

    hr {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #j-l-p {
        float: left;
    }

    .j-left-p {
        text-align: left;
    }

    #j-r-p {
        float: right;
    }

    .j-right-p {
        text-align: left;
    }

    #j-icons {
        display: none;
    }

    #j-icons-img {
        margin: 10px 10px 10px 0;
    }

    #j-img-s {
        display: -webkit-box;
        padding: 10px;
        float: left;
    }

    #j_section_3 {
        height: auto;
        margin-top: -79px;
        margin-bottom: 47px;
    }

    #l_section_3 {
        height: auto;
        margin-top: -79px;
        margin-bottom: 47px;
    }

    .j-list {
        margin: 80px 0px -60px 0px;
        height: 154px;
        width: auto;
        padding: 15px 0px 0px 15px;
    }

    .j-job-title {
        float: left;
        margin-top: 8px;
        font-size: 20px;
    }

    #j-p-part {
        display: -webkit-box;
        float: left;
    }

    .j-p-details {
        font-size: 18px;
        margin-right: 17px;
        margin-top: 5px;
        display: -webkit-inline-box;
    }

    #a-details-content {
        background-color: #fff;
        padding: 0px 10px 10px 15px;
        margin-top: -29px;
        float: left;
        text-align: left;
    }

    #d-details-content {
        background-color: #fff;
        padding: 51px 10px 10px 15px;
        margin-top: -29px;
        float: left;
        text-align: left;
    }

    #a_section_2 {
        background-color: #fff;
        height: auto;
        margin-top: -198px;
    }

    #d_section_3 {
        height: auto;
        margin-bottom: 45px;
    }

    #d-h1 {
        margin-bottom: -60px;
        text-align: left;
    }

    #search-box {
        margin-top: 189px;
    }

    input[type=text] {
        opacity: 0.7;
        width: 970px;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 12px 20px 12px 12px;
    }

    #searchicon {
        float: right;
        margin-top: -34px;
        margin-right: 12px;
    }

    #d-h1t {
        display: inline-block;
        margin-top: 99px;
        margin-left: -138px;
        margin-right: -270px;
    }
}

@media (min-width: 1200px){

    .container {
        height: auto;
    }

    .navbar-default .navbar-nav>li>a {
        padding-top: 3px;
        margin-left: -800px;
        margin-right: 430px;
    }

    #menu-position-1 {
        display: block;
        text-align: left;
        padding: 5px 8px 5px;
        width: auto;
        margin-right: 367px;
        margin-top: -33px;
        margin-left: 1026px;
        font-family: 'Aileron';
    }

    #menu-position-2 {
        display: block;
        text-align: left;
        padding: 5px 8px 5px;
        width: auto;
        font-family: 'Aileron';
        margin-top: -33px;
        margin-right: 148px;
    }

    #menu-position-3 {
        display: block;
        text-align: left;
        padding: 5px 8px 5px;
        width: auto;
        font-family: 'Aileron';
        margin-top: -33px;
        margin-right: -12px;
    }

    #menu-position-4 {
        display: block;
        text-align: left;
        padding: 5px 8px 5px;
        width: auto;
        font-family: 'Aileron';
        margin-top: -33px;
        margin-right: -194px;
    }

    .caret {
        margin-left: 4px;
    }

    .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
        background-color: #3c3c3c;
        color: #fff;
    }

    #dropdown-1 {
        left: -813px;
    }

    #dropdown-2 {
        left: -817px;
    }

    #dropdown-3 {
        left: -814px;
    }

    #dropdown-4 {
        left: -814px;
    }

    #welcome-position {
        margin-top: -29px;
        margin-right: -525px;
    }

    #icon-menu {
        margin-top: -30px;
    }

    .nav>li {
        margin-left: 945px;
    }

    #j_section_2 {
        height: auto;
        margin-top: -198px;
        margin-bottom: 46px;
    }

    #d_left_part {
        margin-top: 0px;
        height: 273px;
        width: 880px;
        padding: 21px 21px 21px 15px;
    }

    #j_left_part {
        margin-top: 0px;
        height: 273px;
        width: 880px;
        padding: 21px 21px 21px 15px;
    }

    #j-img-l {
        display: -webkit-box;
        float: left;
        margin: 0px 60px 50px 0px;
    }

    #j-links {
        float: right;
    }

    #j-sub-pages {
        width: 215px;
        display: -webkit-box;
        padding-top: 91px;
        font-size: 17px;
    }

    .sub-bar {
        display: -webkit-box;
        float: left;
        margin: 0px 41px 50px -20px;
    }

    .a-sub-bar {
        display: -webkit-box;
        float: left;
        margin: 0px 41px 50px -20px;
    }

    .sub-bar-r {
        display: -webkit-box;
        float: left;
        margin: 0px 41px 50px -20px;
    }

    .a-sub-bar-r {
        display: -webkit-box;
        float: left;
        margin: 0px 41px 50px -20px;
    }

    .sub-bar-l {
        display: -webkit-box;
        float: left;
        margin: 0px 41px 50px -20px;
    }

    #j-leftsub {
        font-size: 17px;
        margin: 10px 35px 0px -19px;
    }

    #j-leftsub-r {
        font-size: 17px;
        margin: 10px 0 0 -15px;
    }

    #j-leftsub-l {
        width: 261px;
        margin: 9px 0 0 -19px;
    }

    .main-links {
        margin: 0 0 0 12px;
    }

    #j_right_part {
        display: -webkit-box;
        margin-right: -4px;
        margin-bottom: 0px;
        margin-top: -273px;
        margin-left: 0px;
        float: right;
        width: 276px;
    }

    #a_right_part {
        display: -webkit-box;
        margin-top: -273px;
        margin-right: 0px;
        float: right;
        padding: 20px 20px 20px 20px;
    }

    #d_right_part {
        margin-right: -4px;
        margin-bottom: 0px;
        margin-top: -273px;
        margin-left: 0px;
        float: right;
        width: 276px;
    }

    hr {
        border-top: 1px solid #e4e4e4;
        min-width: 111px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #j-l-p {
        width: auto;
        float: left;
    }

    .j-left-p {
        text-align: left;
    }

    #j-r-p {
        float: right;
    }

    .j-right-p {
        text-align: left;
    }

    #a-icons {
        margin-top: 10px;
        margin-right: 30px;
        float: left;
        display: -webkit-box;
    }

    #j-icons {
        margin-top: 10px;
        margin-right: 26px;
        float: right;
        display: -webkit-box;
    }

    #d-icons {
        margin-right: -248px;
        margin-top: 20px;
        float: right;
        display: -webkit-box;
    }

    #j-icons-img {
        margin: 10px 10px 10px 0;
    }

    #j-img-s {
        display: -webkit-box;
        padding: 10px;
        float: left;
    }

    #j_section_3 {
        height: auto;
        margin-top: -227px;
        margin-bottom: 47px;
    }

    #l_section_3 {
        height: auto;
        margin-top: -172px;
        margin-bottom: 47px;
    }

    .j-list {
        margin: 80px 0px -60px 0px;
        height: 154px;
        width: 880px;
        padding: 15px 0px 0px 15px;
    }

    .j-job-title {
        float: left;
        margin-top: 8px;
        font-size: 20px;
    }

    #j-p-part {
        margin-left: -237px;
        display: -webkit-box;
        float: left;
    }

    .j-p-details {
        font-size: 19px;
        margin-right: 20px;
        margin-top: 70px;
        display: -webkit-inline-box;
    }

    #j_section_4 {
        height: auto;
    }

    #a-details-content {
        background-color: #fff;
        padding: 0 10px 10px 15px;
        font-size: 18px;
        width: 880px;
        float: none;
        text-align: left;
    }

    #d-details-content {
        background-color: #fff;
        padding: 0 10px 10px 15px;
        font-size: 18px;
        width: 880px;
        float: none;
        text-align: left;
    }

    #a_section_2 {
        background-color: #fff;
        height: auto;
        margin-top: -198px;
    }

    .a-sub-details {
        width: 839px;
        margin-bottom: 30px;
    }

    .btn-group-lg>.btn, .btn-lg {
        border-radius: 6px;
        display: block;
        margin: auto;
        width: 300px;
    }

    .btn-primary {
        border: none;
        margin-bottom: 20px;
    }

    .d-title-details {
        margin-top: 78px;
    }

    .t-title-details {
        margin-top: 96px;
    }

    #d_section_3 {
        height: auto;
        margin-bottom: 45px;
    }

    #d-h1 {
        margin-bottom: -60px;
        text-align: left;
    }

    #search-box {
        margin-top: 189px;
    }

    input[type=text] {
        opacity: 0.7;
        width: 880px;
        float: left;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 12px 20px 12px 12px;
    }

    #searchicon {
        float: right;
        margin-top: -34px;
        margin-right: 305px;
    }

    #d-h1t {
        display: inline-block;
        margin-top: 99px;
        margin-left: -138px;
        margin-right: -270px;
    }

}
